body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: black;
    background-color: #e6f7ff;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    max-width: 110px;
    height: auto;
    display: block;
}
.footer-left {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
    color: #005f73;
    display: flex;
    align-items: center;
}
.footer-right {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: #1E1E1E;
}
.strava-logo {
    height: 20px;
    margin-left: 5px;
}