<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Team Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>

<body>
    <div class="sidebar">
        <a th:href="@{/events}">Sự kiện</a>
        <a th:href="@{#}">Đăng ký</a>
        <a th:href="@{/activities}">Danh sách hoạt động</a>
        <a th:href="@{/summary}">Tổng hợp</a>
    </div>
    <div class="main-container">
        <h2 class="page-title">Đăng ký Team</h2>
        <div class="registration-form" id="registration-form">
            <form th:action="@{/register}" th:object="${registerForm}" method="post">
                <div class="form-group">
                    <label for="eventId">Chọn sự kiện</label>
                    <select id="eventId" th:field="*{eventId}" class="form-control" required>
                        <option th:each="event : ${events}" th:value="${event.getId()}" th:text="${event.getEventName()}" th:attr="data-max=${event.getTeamCount()}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="teamId">Chọn đội</label>
                    <select id="teamId" th:field="*{teamId}" class="form-control" required>
                        <option value="0" disabled selected>Select a team</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" id="form-actions">Register</button>
            </form>
        </div>
    </div>
    <div class="main-content">
        <div>
            <input type="text" id="teamIdFilter" placeholder="Nhập tên đội để lọc" onchange="filterByTeam()" class="form-control">
        </div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>VĐV</th>
                        <th>Tên VĐV</th>
                        <th>Tên sự kiện</th>
                        <th>Tên đội</th>
                        <th>Thời gian đăng ký</th>
                    </tr>
                </thead>
				<tbody id="athleteTableBody"></tbody>
            </table>
        </div>
    <div class="footer-left">
        <a href="https://www.strava.com" style="color: #005f73; text-decoration: none; display: flex; align-items: center;">
            <img th:src="@{/images/api_logo_pwrdBy_strava_horiz_white.png}" width=50% height=50%/>
        </a>
    </div>
        <div class="footer-right">Developed by ERP</div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const eventSelect = document.getElementById("eventId");
            const teamIdInput = document.getElementById("teamId");

            // Set the default value for teamIdInput
            const selectedEvent = eventSelect.options[eventSelect.selectedIndex];
            if (selectedEvent) {
                const maxTeams = selectedEvent.getAttribute("data-max");
                if (maxTeams == 1) {
                    teamIdInput.hidden = true;
                    teamIdInput.value = 1;
                }
                else {
                    teamIdInput.innerHTML = "";
                    for (let i = 1; i <= maxTeams; i++) {
                        const option = document.createElement("option");
                        option.value = i;
                        option.textContent = "Đội " + i;
                        teamIdInput.appendChild(option);
                    }
                }
            }

            // Add event listener to update teamIdInput based on selected event
            eventSelect.addEventListener("change", function() {
                const selectedOption = eventSelect.options[eventSelect.selectedIndex];
                const maxTeams = selectedOption.getAttribute("data-max");
                if (maxTeams == 1) {
                    teamIdInput.hidden = true;
                    teamIdInput.value = 1;
                }
                else {
                    teamIdInput.innerHTML = "";
                    for (let i = 1; i <= maxTeams; i++) {
                        const option = document.createElement("option");
                        option.value = i;
                        option.textContent = "Đội " + i;
                        teamIdInput.appendChild(option);
                    }
                }
                fetchRegisteredAthletes(eventSelect.value);
            });

            // Initial fetch for the default selected event
            fetchRegisteredAthletes(eventSelect.value);
            
            // Fetch initial values
            fetchInitValue();
        });
        function fetchRegisteredAthletes(eventId) {
            fetch("/strava-oauth/registered-athletes", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ eventId: eventId })
            })
            .then(response => response.json())
            .then(data => {
                const athleteTableBody = document.getElementById("athleteTableBody");
                athleteTableBody.innerHTML = "";

                // Populate the table with the response data
                data.forEach(athlete => {
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <td>${athlete.athleteId}</td>
                        <td>${athlete.athleteName}</td>
                        <td>${athlete.eventName}</td>
                        <td id="team-tr">Đội ${athlete.teamId}</td>
                        <td>${athlete.formatedDateFromStartDateLocal}</td>
                    `;
                    athleteTableBody.appendChild(row);
                });
            })
            .catch(error => console.error("Error fetching registered athletes:", error));
        }

        function fetchInitValue() {
            fetch("/strava-oauth/register/init")
                .then(response => response.json())
                .then(data => {
                    if (data && data.length > 0) {
                        const eventSelect = document.getElementById("eventId");
                        const teamIdInput = document.getElementById("teamId");
                        const submitButton = document.getElementById("form-actions");
                        event = data[0];
                        eventSelect.value = event.eventId;
                        eventSelect.setAttribute("data-max", event.teamId);
                        teamIdInput.value = event.teamId;
                        submitButton.innerText = "Update";
                    }
                })
                .catch(error => console.error("Error fetching initial values:", error));
            fetch("/strava-oauth/oauth_login")
                .then(response => console.log("Get activities successfully"))
                .catch(error => console.error("Error get Activities: ", error));
        }

        function filterByTeam() {
            const filter = document.getElementById("teamIdFilter").value;
            const rows = document.querySelectorAll("#athleteTableBody tr");
            
            for (let i = 0; i < rows.length; i++) {
                const row = rows[i];
                const teamCell = row.querySelector("#team-tr");
                if (teamCell) {
                    const teamText = teamCell.textContent || teamCell.innerText;
                    if (teamText.toLowerCase().includes(filter.toLowerCase())) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }
                }
            }
        }

        function showAlert(message, type) {
            const alertDiv = document.createElement("div");
            alertDiv.className = `alert alert-${type}`;
            alertDiv.textContent = message;
            document.body.appendChild(alertDiv);
            setTimeout(() => {
                alertDiv.remove();
            }, 3000);
        }
        </script>
    </body>
</html>
